.container {
  margin: 0;
  min-height: 240px;
  width: 208px;
  border-radius: 5px;
  background-color: var(--color-grey);
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: var(--box-shadow);
}

.clickable {
  cursor: pointer;
  animation: fadeIn 1s 1;
}

.imgContainer {
  width: 114px;
  height: 114px;
  margin: 0.5rem auto;
}

.infoContainer {
  text-align: center;
}

.infoTitle {
  margin: 0;
}

.infoDescription {
  font-family: var(--font-secondary);
  font-size: var(--font-size-p);
  margin: 0.25rem 0;
}

.cost {
  text-align: center;
  margin: 0.5rem 0;
  color: var(--color-green);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    position: relative;
    top: 3rem;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
    position: relative;
    top: 0;
  }
}