.main {
  margin: 0 auto;
  display: flex;
  width: 15rem;
  justify-content: space-around;
}

.main > * {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.mainOne {
  background-color: var(--color-yellow);
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.mainTwo {
  background-color: var(--color-yellow);
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0.5s;
}

.mainThree {
  background-color: var(--color-yellow);
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: var(--color-yellow);
  }
  50%,
  100% {
    background-color: var(--color-background-black);
  }
}