.homeImage {
  position: relative;
  height: 170px;
  width: 100%;
  overflow: hidden;
}

.imageBackground {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}

.imageText {
  position: absolute;
  left: 50%;
  bottom: 22px;
  transform: translate(-50%, 0);
}

.productContainer {
  margin: 0 auto;
  margin-bottom: 1rem;
}

.productSection {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 450px) {
  .productSection {
    grid-template-columns: 1fr 1fr;
  }
}
